name: Build and Push to Docker Hub

on:
  push:
    branches: [main]  # Trigger only when code is pushed to main branch

jobs:
  build-and-push:
    runs-on: ubuntu-latest

    steps:
      - name: Checkout code
        uses: actions/checkout@v4

      - name: Set up Docker Buildx
        uses: docker/setup-buildx-action@v3

      - name: Log in to Docker Hub
        uses: docker/login-action@v3
        with:
          username: ${{ secrets.DOCKERHUB_USERNAME }}  # set this secret as 'abeera22imtiaz'
          password: ${{ secrets.DOCKERHUB_TOKEN }}     # set this secret with your Docker Hub token

      - name: Build and push Docker image
        uses: docker/build-push-action@v5
        with:
          context: .
          file: ./dockerfile   # make sure your Dockerfile name is exactly this
          push: true
          tags: abeera22imtiaz/churn:latest   # your Docker Hub username + repo name
